* {
  box-sizing: border-box;
}
.wrap {
  width: 100%;
}
.resume {
  width: 80%;
  margin: 0 auto;
  border: 1px solid;
}
.header {
  text-align: center;
}
.horizontal-line {
  width: 100px;
  height: 1px;
  border-top: 1px solid;
}
.decorative {
  border: 1px solid;
}
.beautify {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-content {
  border: 1px solid;
  width: 33%;
}
.personal-photo img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  max-width: 100%;
  max-height: 100%;
}
.sec-title {
  border-bottom: 1px solid;
  text-align: center;
  line-height: 11px;
}
